<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hrishi_3331.devstudio3331.diary">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lock" />
        <activity android:name=".Home" />
        <activity android:name=".SetPassword" />
        <activity android:name=".New_Event" />
        <activity android:name=".ViewPost" />
        <activity android:name=".Info" />
        <activity android:name=".Profile" />
        <activity android:name=".Settings" />
        <activity android:name=".Privacy_Policy"></activity>
    </application>

</manifest>